@import 'tailwindcss';
@import './fonts.css';

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@custom-variant light (&:where([data-theme="light"], [data-theme="light"] *));

/* ---------- LIGHT THEME ---------- */
[data-theme='light'] {
  color-scheme: light;

  /* palette */
  --bg-primary: hsl(0, 0%, 99%);
  --bg-secondary: hsl(0, 0%, 96%);
  --bg-tertiary: hsl(210, 15%, 92%);

  --fg-primary: hsl(215, 24%, 10%);
  --fg-secondary: hsl(215, 24%, 20%);
  --fg-tertiary: hsl(215, 24%, 30%);

  --acc-primary: #58bb11;
  --acc-secondary: #0073be;
  --acc-tertiary: #f04d1c;

  --border-color: hsl(0, 0%, 70%);
  --border-color-secondary: hsl(0, 0%, 40%);

  /* primitives */
  --red: hsl(358, 70%, 60%);
  --green: hsl(160, 45%, 50%);
  --blue: hsl(205, 70%, 55%);
  --yellow: hsl(43, 75%, 65%);
  --purple: hsl(270, 45%, 60%);
  --offwhite: hsl(0, 0%, 98%);
  --gray: hsl(210, 10%, 60%);

  /* gradients */
  --grad-stop-1: #58bb11;
  --grad-stop-2: #00b24a;
  --grad-stop-3: #009697;
  --grad-stop-4: #0085b1;
  --grad-stop-5: #0073be;

  --grad-stop-6: #349db2;
  --grad-stop-7: #4d98d9;
  --grad-stop-8: #ab83da;
  --grad-stop-9: #f365a4;
  --grad-stop-10: #ff6a4d;

  --grad-stop-11: #1fa863;
  --grad-stop-12: #71a335;
  --grad-stop-13: #a8970e;
  --grad-stop-14: #d9841f;
  --grad-stop-15: #ff6a4d;
}

/* ---------- DARK THEME ---------- */
[data-theme='dark'] {
  color-scheme: dark;

  /* --bg-primary: hsl(220, 8%, 8%); */
  --bg-primary: hsl(0, 0%, 10%);
  --bg-secondary: hsl(0, 0%, 15%);
  --bg-tertiary: hsl(150, 0%, 23%);

  --fg-primary: hsl(0, 0%, 88%);
  --fg-secondary: hsl(154, 5%, 70%);
  --fg-tertiary: hsl(0, 0%, 37%);

  --acc-primary: #58ba11;
  --acc-secondary: #ff8c00;
  --acc-tertiary: #ffeb58;

  --border-color: hsl(0, 0%, 25%);
  --border-color-secondary: hsl(0, 0%, 40%);

  /* primitives */
  --red: hsl(358, 65%, 65%);
  --green: hsl(160, 40%, 55%);
  --blue: hsl(205, 65%, 65%);
  --yellow: hsl(43, 70%, 70%);
  --purple: hsl(270, 40%, 65%);
  --offwhite: hsl(210, 15%, 95%);
  --gray: hsl(210, 8%, 65%);
  /* Gradients */
  --grad-stop-1: var(--acc-primary);
  --grad-stop-2: #79ba11;
  --grad-stop-3: #bab711;
  --grad-stop-4: #d4b400;
  --grad-stop-5: var(--acc-secondary);

  --grad-stop-6: #4493f3;
  --grad-stop-7: #c59ee5;
  --grad-stop-8: #e286b1;
  --grad-stop-9: #f7776d;
  --grad-stop-10: #ff981a;

  --grad-stop-11: #37e67a;
  --grad-stop-12: #00d6bd;
  --grad-stop-13: #00bffa;
  --grad-stop-14: #009fff;
  --grad-stop-15: #0072ff;
}

/* ---------- TAILWIND CONFIG ---------- */
@layer base {
  * {
    transition-property: background-color, border-color, box-shadow;
    /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
    transition-duration: 500ms;
  }
  button {
    cursor: pointer;
  }
}

@layer components {
  .grad-tr-prim-sec {
    background-image: linear-gradient(
      to right,
      var(--grad-stop-1),
      var(--grad-stop-2),
      var(--grad-stop-3),
      var(--grad-stop-4),
      var(--grad-stop-5)
    );
  }

  .grad-tr-sec-ter {
    background-image: linear-gradient(
      to right,
      var(--grad-stop-6),
      var(--grad-stop-7),
      var(--grad-stop-8),
      var(--grad-stop-9),
      var(--grad-stop-10)
    );
  }

  .grad-tr-prim-ter {
    background-image: linear-gradient(
      to right,
      var(--grad-stop-11),
      var(--grad-stop-12),
      var(--grad-stop-13),
      var(--grad-stop-14),
      var(--grad-stop-15)
    );
  }
}
/* ---------- TAILWIND THEME TOKENS ---------- */
@theme {
  /* typography */
  --font-*: initial;
  --font-sans:
    'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue',
    'Liberation Sans', 'Noto Sans', 'DejaVu Sans', 'Arial', sans-serif;

  --font-mono:
    'IBM Plex Mono', 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Consolas,
    'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', monospace;

  --default-font-family: var(--font-sans);
  --text-mini: 0.725rem;
  --text-tiny: 0.625rem;
  /* palette */
  --color-bg-prim: var(--bg-primary);
  --color-bg-sec: var(--bg-secondary);
  --color-bg-ter: var(--bg-tertiary);
  --color-fg-prim: var(--fg-primary);
  --color-fg-sec: var(--fg-secondary);
  --color-fg-ter: var(--fg-tertiary);
  --color-acc-prim: var(--acc-primary);
  --color-acc-sec: var(--acc-secondary);
  --color-acc-ter: var(--acc-tertiary);
  --color-brdr: var(--border-color);
  --color-brdr-sec: var(--border-color-secondary);

  /* primitives */
  --color-red: var(--red);
  --color-green: var(--green);
  --color-blue: var(--blue);
  --color-yellow: var(--yellow);
  --color-purple: var(--purple);
  --color-offwhite: var(--offwhite);
  --color-gray: var(--gray);
}

html {
  min-height: 100vh;
  /* width: 100vw; */
  /* max-width: 100vw; */
  color: var(--fg-primary);
  background: var(--bg-primary);
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
