@import 'tailwindcss';
@import './fonts.css';

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@custom-variant light (&:where([data-theme="light"], [data-theme="light"] *));

/* ---------- LIGHT THEME ---------- */
[data-theme='light'] {
  color-scheme: light;

  /* palette */
  --bg-primary: hsl(0, 0%, 99%);
  --bg-secondary: hsl(0, 0%, 96%);
  --bg-tertiary: hsl(210, 15%, 92%);

  --fg-primary: hsl(215, 24%, 10%);
  --fg-secondary: hsl(215, 24%, 20%);
  --fg-tertiary: hsl(215, 24%, 30%);

  --acc-primary: #a3d920;
  --acc-secondary: #ffeb58;
  --acc-tertiary: #ffefc7;

  --border-color: hsl(0, 0%, 70%);
  --border-color-secondary: hsl(0, 0%, 40%);
  /* primitives */
  --red: hsl(358, 70%, 60%);
  --green: hsl(160, 45%, 50%);
  --blue: hsl(205, 70%, 55%);
  --yellow: hsl(43, 75%, 65%);
  --purple: hsl(270, 45%, 60%);
  --offwhite: hsl(0, 0%, 98%);
  --gray: hsl(210, 10%, 60%);

  /* gradients */
  --grad-stop-1: #a3d920;
  --grad-stop-2: #bcde2d;
  --grad-stop-3: #d4e23a;
  --grad-stop-4: #eae749;
  --grad-stop-5: #ffeb58;
}

/* ---------- DARK THEME ---------- */
[data-theme='dark'] {
  color-scheme: dark;

  --bg-primary: #1a1a1a;
  --bg-secondary: hsl(0, 0%, 15%);
  --bg-tertiary: hsl(150, 0%, 23%);

  --fg-primary: hsl(0, 0%, 88%);
  --fg-secondary: hsl(154, 5%, 70%);
  --fg-tertiary: hsl(0, 0%, 37%);

  --acc-primary: #a3d920;
  --acc-secondary: #ffeb58;
  --acc-tertiary: #ffefc7;

  --border-color: hsl(0, 0%, 25%);
  --border-color-secondary: hsl(0, 0%, 40%);
  background-image: linear-gradient(to right);
  /* primitives */
  --red: hsl(358, 65%, 65%);
  --green: hsl(160, 40%, 55%);
  --blue: hsl(205, 65%, 65%);
  --yellow: hsl(43, 70%, 70%);
  --purple: hsl(270, 40%, 65%);
  --offwhite: hsl(210, 15%, 95%);
  --gray: hsl(210, 8%, 65%);
  /* Gradients */
  --grad-stop-1: #a3d920;
  --grad-stop-2: #bcde2d;
  --grad-stop-3: #d4e23a;
  --grad-stop-4: #eae749;
  --grad-stop-5: #ffeb58;
}

/* ---------- TAILWIND CONFIG ---------- */
@layer base {
  * {
    transition-property: background-color, border-color, box-shadow;
    /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
    transition-duration: 500ms;
  }
  button {
    cursor: pointer;
  }
}

@layer components {
  .grad-tr-prim-sec {
    background-image: linear-gradient(
      to right,
      var(--grad-stop-1),
      var(--grad-stop-2),
      var(--grad-stop-3),
      var(--grad-stop-4),
      var(--grad-stop-5)
    );
  }
  .mask-half-circle {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 50' preserveAspectRatio='none'%3E%3Cpath d='M0 0 A50 50 0 0 0 100 0 L100 50 L0 50 Z' fill='black'/%3E%3C/svg%3E")
      no-repeat;
    -webkit-mask-size: 100% 100%;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 50' preserveAspectRatio='none'%3E%3Cpath d='M0 0 A50 50 0 0 0 100 0 L100 50 L0 50 Z' fill='black'/%3E%3C/svg%3E")
      no-repeat;
    mask-size: 100% 100%;
  }
}
/* ---------- TAILWIND THEME TOKENS ---------- */
@theme {
  /* typography */
  --font-*: initial;
  --font-sans:
    'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Helvetica Neue', 'Liberation Sans', 'Noto Sans', 'DejaVu Sans',
    'Arial', sans-serif;

  --font-mono:
    'IBM Plex Mono', 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo,
    Consolas, 'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', monospace;

  --default-font-family: var(--font-sans);
  --text-mini: 0.725rem;
  --text-tiny: 0.625rem;
  /* palette */
  --color-bg-prim: var(--bg-primary);
  --color-bg-sec: var(--bg-secondary);
  --color-bg-ter: var(--bg-tertiary);
  --color-fg-prim: var(--fg-primary);
  --color-fg-sec: var(--fg-secondary);
  --color-fg-ter: var(--fg-tertiary);
  --color-acc-prim: var(--acc-primary);
  --color-acc-sec: var(--acc-secondary);
  --color-acc-ter: var(--acc-tertiary);
  --color-brdr: var(--border-color);
  --color-brdr-sec: var(--border-color-secondary);

  /* primitives */
  --color-red: var(--red);
  --color-green: var(--green);
  --color-blue: var(--blue);
  --color-yellow: var(--yellow);
  --color-purple: var(--purple);
  --color-offwhite: var(--offwhite);
  --color-gray: var(--gray);
}

html {
  min-height: 100vh;
  /* width: 100vw; */
  /* max-width: 100vw; */
  color: var(--fg-primary);
  background: var(--bg-primary);
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
